In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('airlines_reviews.csv')
datos.head()

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended
0,Flight was amazing,Alison Soetantyo,2024-03-01,Singapore Airlines,True,Flight was amazing. The crew onboard this fl...,Solo Leisure,December 2023,Jakarta to Singapore,Business Class,4,4,4,4,4,9,yes
1,seats on this aircraft are dreadful,Robert Watson,2024-02-21,Singapore Airlines,True,Booking an emergency exit seat still meant h...,Solo Leisure,February 2024,Phuket to Singapore,Economy Class,5,3,4,4,1,3,no
2,Food was plentiful and tasty,S Han,2024-02-20,Singapore Airlines,True,Excellent performance on all fronts. I would...,Family Leisure,February 2024,Siem Reap to Singapore,Economy Class,1,5,2,1,5,10,yes
3,“how much food was available,D Laynes,2024-02-19,Singapore Airlines,True,Pretty comfortable flight considering I was f...,Solo Leisure,February 2024,Singapore to London Heathrow,Economy Class,5,5,5,5,5,10,yes
4,“service was consistently good”,A Othman,2024-02-19,Singapore Airlines,True,The service was consistently good from start ...,Family Leisure,February 2024,Singapore to Phnom Penh,Economy Class,5,5,5,5,5,10,yes

In [ ]:
len(datos)

8100

In [ ]:
datos = datos.convert_dtypes()
datos.dtypes

Title                     string[python]
Name                      string[python]
Review Date               string[python]
Airline                   string[python]
Verified                  string[python]
Reviews                   string[python]
Type of Traveller         string[python]
Month Flown               string[python]
Route                     string[python]
Class                     string[python]
Seat Comfort                       Int64
Staff Service                      Int64
Food & Beverages                   Int64
Inflight Entertainment             Int64
Value For Money                    Int64
Overall Rating                     Int64
Recommended               string[python]
dtype: object

Número de reviews verificadas

In [ ]:
datos.groupby('Verified').size()

Verified
*Unverified*                                            1
False                                                1881
NotVerified                                             1
True                                                 6216
we do appreciate you bringing this matter to o...       1
dtype: int64

Pasar fechas de string a datetime

In [ ]:
datos["Review Date"] = pd.to_datetime(datos["Review Date"])
print(datos.dtypes)

Title                     string[python]
Name                      string[python]
Review Date               datetime64[ns]
Airline                   string[python]
Verified                  string[python]
Reviews                   string[python]
Type of Traveller         string[python]
Month Flown               string[python]
Route                     string[python]
Class                     string[python]
Seat Comfort                       Int64
Staff Service                      Int64
Food & Beverages                   Int64
Inflight Entertainment             Int64
Value For Money                    Int64
Overall Rating                     Int64
Recommended               string[python]
dtype: object

Rango de fechas

In [ ]:
fecha_menor = datos["Review Date"].min()
print(fecha_menor)
fecha_mayor = datos["Review Date"].max()
print(fecha_mayor)
rango = fecha_mayor - fecha_menor
print(rango)
print(f"Rango: las fechas van desde {fecha_menor} hasta {fecha_mayor}")

2016-03-22 00:00:00
2024-03-06 00:00:00
2906 days 00:00:00
Rango: las fechas van desde 2016-03-22 00:00:00 hasta 2024-03-06 00:00:00

Aerolíneas con al menos un comentario

In [ ]:
aerolineas_con_comentarios = datos[datos['Reviews'].notnull()]['Airline'].unique()
print(aerolineas_con_comentarios)

<StringArray>
[    'Singapore Airlines',          'Qatar Airways',     'All Nippon Airways',
               'Emirates',         'Japan Airlines',       'Turkish Airlines',
             'Air France', 'Cathay Pacific Airways',                'EVA Air',
             'Korean Air']
Length: 10, dtype: string

In [ ]:
datos['Año'] = datos['Review Date'].dt.year
datos.head()

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Overall Rating,Recommended,Año
0,Flight was amazing,Alison Soetantyo,2024-03-01,Singapore Airlines,True,Flight was amazing. The crew onboard this fl...,Solo Leisure,December 2023,Jakarta to Singapore,Business Class,4,4,4,4,4,9,yes,2024
1,seats on this aircraft are dreadful,Robert Watson,2024-02-21,Singapore Airlines,True,Booking an emergency exit seat still meant h...,Solo Leisure,February 2024,Phuket to Singapore,Economy Class,5,3,4,4,1,3,no,2024
2,Food was plentiful and tasty,S Han,2024-02-20,Singapore Airlines,True,Excellent performance on all fronts. I would...,Family Leisure,February 2024,Siem Reap to Singapore,Economy Class,1,5,2,1,5,10,yes,2024
3,“how much food was available,D Laynes,2024-02-19,Singapore Airlines,True,Pretty comfortable flight considering I was f...,Solo Leisure,February 2024,Singapore to London Heathrow,Economy Class,5,5,5,5,5,10,yes,2024
4,“service was consistently good”,A Othman,2024-02-19,Singapore Airlines,True,The service was consistently good from start ...,Family Leisure,February 2024,Singapore to Phnom Penh,Economy Class,5,5,5,5,5,10,yes,2024

In [ ]:
# Agrupar por aerolínea y año, contar el número de comentarios y calcular el promedio
comentarios_por_aerolinea = datos.groupby(['Airline', 'Año']).size() #.groupby('Airline').mean()

# Imprimir el resultado
print(comentarios_por_aerolinea)